{%- comment -%}
<!-- 
link: link url, or the heading title if it's an anchor link (link="Meet the Team")
text: link text
size: "sm" for small, omit (default) for normal, "lg" for large
type: "solid" (default) or "outline"

Usage:
{% include partials/components/button.html
  link="https://example.com"
  text="View test link"
  size="sm"
  type="outline"
%}
-->
{%- endcomment -%}

{%- assign size = "" -%}
{%- if include.size -%}
  {%- assign size = include.size -%}
{%- endif -%}

{%- assign type = "" -%}
{%- if include.type == "outline" -%}
  {%- assign type = "-outline" -%}
{%- endif -%}

{%- assign align = "" -%}
{%- if include.align -%}
  {%- assign align = include.align -%}
{%- endif -%}

{%- assign display = "" -%}
{%- if include.display -%}
  {%- assign display = include.display -%}
{%- endif -%}

{%- assign theme = "dark" -%}
{%- if include.theme -%}
  {%- assign theme = include.theme -%}
{%- endif -%}


<a href="{{include.link | anchor}}" class="btn btn{{type}}-{{theme}} btn-{{size}} text-{{align}} d-{{display}} shadow">{{include.text}}</a>
