<style type="text/css">
  #staking-gathering .floating-hover {
    margin-top: -2em;
  }
</style>


<!-- Start Staking Gathering -->
<section id="staking-gathering" class="">
  <div class="container my-3 my-md-0 my-lg-4 p-4 py-md-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-8 col-xxl-7 p-md-3 pt-lg-3 text-center aos-up">
        <h2 class="display-4 fw-bold lh-1 mb-3">Staking Gathering Recordings</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xl-7 p-md-3 p-lg-5 pt-lg-3 aos-left">
        <p class="lead">EthStaker hosted <span class="fw-bold">Staking Gathering 2025</span> at DevConnect Argentina with illuminating talks, workshops, and discussions to deepen your understanding of staking's intricacies. You can watch the recorded livestreams to enjoy the discussions at your own pace. There's also recordings of <span class="fw-bold">EthClient Summit 2025</span>.</p>
        <div class="row">
          <div class="gap-2 d-md-flex justify-content-md-start">
            <a href="https://www.youtube.com/playlist?list=PLOB9GGXGcc33JOVtvr3Mf2BrPpblLxSvp" class="btn btn-dark btn-lg mt-4 shadow">Staking Gathering</a>
            <a href="https://www.youtube.com/playlist?list=PLOB9GGXGcc32cBQNVPVv_i-asPGRG3hkI" class="btn btn-outline-dark btn-lg mt-4 shadow">EthClient Summit</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4 ps-xxl-5 my-5 aos-left">
        <img class="img-fluid px-lg-4 floating-hover" src="/assets/img/index/devconnect-arg.png" alt="Devconnect">
      </div>
    </div>
  </div>
</section>
